body {
    background-image: url("../img/burger_background.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
 }
.jumbotron {
    text-align: center;
}
#style-opacity {
    background-color:rgba(0, 0, 0, 0.5);

}
#burgerTitle {
    color: white;
}

.col-md-6 {
    color: white;
    border: 1px solid white;
}

#burgersToEat_Col {
    float: left;
}

#burgersEaten_Col {
    float: right;
}

#burgerForm {
    margin-bottom: 20px;
}

.burger {
    margin-bottom: 10px;
}